build/
.vscode/
*.exe
*.o
.Rproj.user

# Ignore the entire output folder
output/

# Ignore all generated analysis files in scripts
scripts/*.html

scripts/*.RData
scripts/.Rhistory

.Rhistory
.RData
