# --- Build & IDE ---
build/
.vscode/
*.exe
*.o
.Rproj.user

# --- HFT Data Output ---
# We never push multi-gigabyte simulation data to GitHub
output/

# --- Analysis & Privacy ---
# We ignore the logic (.Rmd) and temporary files to keep the repo 100% C++
# and protect your analytical secret sauce.
scripts/*
!scripts/*.pdf

# --- R Metadata ---
.Rhistory
.RData
scripts/.Rhistory
scripts/.RData
