# --- Build & IDE ---
build/
.vscode/
*.exe
*.o
.Rproj.user
*.csv
*.bin
*.zip
data/
precompiler

# --- HFT Data Output ---
# We never push multi-gigabyte simulation data to GitHub
output/

# --- I am not disclosing my personal strategies ---
trading-algorithms

# --- Analysis & Privacy ---
# We ignore the logic (.Rmd) and temporary files to keep the repo 100% C++
# and protect your analytical secret sauce.
scripts/*
!scripts/*.pdf
!scripts/*.py

# --- R Metadata ---
.Rhistory
.RData
scripts/.Rhistory
scripts/.RData
